# iOS Simulator:
EXPO_PUBLIC_API_URL=http://127.0.0.1:3000

# Fiziksel telefon kullanırken Mac'in yerel IP adresini yaz:
# EXPO_PUBLIC_API_URL=http://192.168.1.25:3000

# Expo Web:
EXPO_PUBLIC_WEB_API_URL=http://localhost:3000
